<footer>

<div class="footer txt-color">
<div class="col-md-12 col-sm-12 col-xs-12">
<h4 class="left"><strong>Copyrights - Wallchalking Ltd.</strong></h4>

<h4 class="right">
<a href="#"><strong>About Us</strong></a>&nbsp;&nbsp;
<a href="#"><strong>Contact</strong></a>&nbsp;&nbsp; 
<a href="#"><strong>Contact Us</strong></a>&nbsp;&nbsp;
<!-- <a href="#"><strong>impressum</strong></a>&nbsp;&nbsp; -->
<a href="#"><strong>impressum</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" title="facebook" class="btn btn-icon-btn"><i class="entypo-facebook fbk"></i></a>
<a href="#" title="twitter" class="btn btn-icon-btn"><i class="entypo-twitter twt"></i></a>
<a href="#" title="instagram" class="btn btn-icon-btn"><i class="entypo-instagram inst"></i></a>
</h4>	
</div>

</div>

</footer>