
<div class="col-md-12 col-sm-12 col-xs-12">

<a href="/home" title="" class="btn logo"><%= image_tag("logo.png", class:"logo-image") %></a>

<a href="/users/sign_up" title="" class="btn btn_signup">Sign-Up</a>
<a href="/p_listings/new" title="" class="btn btn_post_property">Post Property</a>

</div>
